*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --body-bg-color: #000000;
    --purple: #efeaf4;
}

body, html{
    font-family: "Poppins", Arial, sans-serif;
    background: var(--body-bg-color);

}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .tree-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tree-container .avatar{
    width: 213px;
    height: 213px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--purple);
    border-radius: 50%;
}
.tree-container .avatar img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.links-container, a {
    color: white;
}
.tree-container .insta-user{
    margin-top: 15px;
    color: #ffffff;
}
.tree-container .links-container{
    margin-top: 17px;
    display: flex;
    flex-direction: column;
}
.links-container .link{
    margin-top: 16px;
    width: 325px;
    border: 2px solid var(--purple);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600px;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 0;
    transition: ease 0.3s;
}
.links-container .link:hover{
    background: var(--purple);
    color: var(--body-bg-color);
}

.tree-container .social-container{
    margin-top: 68px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 29px;
}
.social-container .social{
    transform: scale(0.9);
    transform: ease 0,3s;
}

.social-container .social:hover {
    transform: scale(1);
}